body{
  background-color: rgba(0, 0, 0, 0.877);
}

.title {
  color: white;
  margin-left: 25%;
}
.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.srchCtner2{
  width: 20%;
}


.input {
  width: 90%;
  font-size: 20px;
  margin-bottom: 15px;
  border-radius: 4px;
  height: 40px;
  text-align: center;
}

.btn {
  padding: 10px;
  border-radius: 10px;
  margin-left: 40%;
}

.infoBody{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoContainer{
  margin-top: 50px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nameInfo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  border: 1px white solid;
  background-color: darkgray;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 20px white;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerImage{
  border-bottom: 4px black solid;
  border-radius: 15px;
}
.stats:hover{
  color: blue;
  cursor: pointer;
}

.hide{
  display: none;
}

@media screen and (min-width: 270px) and (max-width: 844px){
  .srchCtner2 {
   
    width: 50%;
  }

  .title {
    font-size: 15px;
    color: black;
    color: white;
  }

  .infoContainer{
    width: 50%;
  }

  .playerImage{
    width: 100%;
  }
}

@media screen and (min-width: 390px) and (max-width: 844px){
  .srchCtner2 {
   
    width: 50%;
  }

  .title {
    font-size: 15px;
    color: black;
    color: white;
  }

  .infoContainer{
    width: 50%;
  }

  .playerImage{
    width: 100%;
  }
}